<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
    xmlns:sec="http://www.thymeleaf.org/extras/spring-security">

<head>
    <link type="text/css" rel="stylesheet" href="/css/bootstrap.min.css" th:href="@{/css/bootstrap.min.css}" />
    <title>Lisää lautapeli</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>

<body>

    <div th:replace="~{fragments/navbar :: mainNavbar}"></div>
    <!-- Sisällytetään navigointipalkki navbar-fragmentista -->

    <div class="container text-center mt-5">
        <h2 class="mb-3">Lisää uusi lautapeli kokoelmaan</h2>
    </div>

    <div>
        <form th:object="${boardgame}" th:action="@{/saveBoardgame}" action="#" method="post">
            <label for="title">Nimi</label>
            <input type="text" id="title" th:field="*{title}" class="form-control" />
            <div class="text-danger" th:if="${#fields.hasErrors('title')}" th:errors="*{title}"></div>
            <br>
            <label for="publicationYear">Julkaisuvuosi</label>
            <input type="text" id="publicationYear" th:field="*{publicationYear}" class="form-control" />
            <div class="text-danger" th:if="${#fields.hasErrors('publicationYear')}" th:errors="*{publicationYear}">
            </div>
            <br>
            <label for="minPlayers">Pelaajien miniminäärä</label>
            <input type="text" id="minPlayers" th:field="*{minPlayers}" class="form-control" />
            <div class="text-danger" th:if="${#fields.hasErrors('minPlayers')}" th:errors="*{minPlayers}"></div>
            <br>
            <label for="maxPlayers">Pelaajien maksimimäärä</label>
            <input type="text" id="maxPlayers" th:field="*{maxPlayers}" class="form-control" />
            <div class="text-danger" th:if="${#fields.hasErrors('maxPlayers')}" th:errors="*{maxPlayers}"></div>
            <br>
            <label for="genrelist">Genre</label>
            <select id="genrelist" th:field="*{genre}" class="form-control">
                <option th:each="genre: ${genres}" th:value="${genre.id}" th:text="${genre.name}"></option>
            </select>
            <!-- Dropdown, jossa valitaan genre tietokannasta -->
            <br>
            <label for="imageUrl">Kuvan URL:</label>
            <input type="text" id="imageUrl" th:field="*{imageUrl}" class="form-control" placeholder="https://..." />
            <br>
            <input type="submit" value="Tallenna lautapeli" class="btn btn-primary"></input>
        </form>
    </div>
    </div>

</body>

</html>