<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
    xmlns:sec="http://www.thymeleaf.org/extras/spring-security">

<head>
    <link type="text/css" rel="stylesheet" href="/css/bootstrap.min.css" th:href="@{/css/bootstrap.min.css}" />
    <title>Lautapelilista</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>

<body>

    <!-- Sisällytä navigointipalkki -->
    <div th:replace="~{fragments/navbar :: mainNavbar}"></div>

    <div class="container text-center mt-5">
        <h2 class="mb-3">Lautapelit</h2>
    </div>

    <br>

    <table class="table table-striped">
            <tr>
                <th>Nimi</th>
                <th>Julkaisuvuosi</th>
                <th>Pelaajien miniminäärä</th>
                <th>Pelaajien maksimimäärä</th>
                <th>Category</th>
                <!-- <th>Price</th> -->
                <th></th>
                <th></th>
            </tr>
            <tr th:each="boardgame : ${boardgames}">
                <td th:text="${boardgame.title}">Nimi</td>
                <td th:text="${boardgame.publicationYear}">Julkaisuvuosi</td>
                <td th:text="${boardgame.minPlayers}">Pelaajien miniminäärä</td>
                <td th:text="${boardgame.maxPlayers}">Pelaajien maksimimäärä</td>
                <td th:text="${boardgame.genre.name}"></td>
                <td sec:authorize="hasAuthority('ADMIN')">
                    <a th:href="@{/deleteBoardgame/{id}(id=${boardgame.id})}" class="btn btn-danger">Poista</a>
                </td>
                <td sec:authorize="hasAuthority('ADMIN')">
                    <a th:href="@{/editBoardgame/{id}(id=${boardgame.id})}" class="btn btn-warning">Muokkaa</a>
                </td>
            </tr>
        </table>
        <a sec:authorize="hasAuthority('ADMIN')" href="/add" class="btn btn-success">Lisää</a>
        <br>
        <!-- <a th:href="@{/koti}" class="btn btn-info mt-3">Etusivulle</a> -->
    </div>

</body>

</html>