<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
    xmlns:sec="http://www.thymeleaf.org/extras/spring-security">

<head>
    <link type="text/css" rel="stylesheet" href="/css/bootstrap.min.css" th:href="@{/css/bootstrap.min.css}" />
    <title>Muokkaa lautapeliä</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>

<body>

    <!-- Sisällytä navigointipalkki -->
    <div th:replace="~{fragments/navbar :: mainNavbar}"></div>

    <div class="container text-center mt-5">
        <h2 class="mb-3">Muokkaa lautapelin tietoja</h2>
    </div>

    <form th:object="${editBoardgame}" th:action="@{/saveEditedBoardgame}" action="#" method="post">
        <input type="hidden" th:field="*{id}" />

        <label for="title" class="form-label">Nimi</label>
        <input type="text" id="title" th:field="*{title}" />
        <div class="text-danger" th:if="${#fields.hasErrors('title')}" th:errors="*{title}"></div>
        <br>
        <label for="publicationYear" class="form-label">Julkaisuvuosi</label>
        <input type="text" id="publicationYear" th:field="*{publicationYear}" />
        <div class="text-danger" th:if="${#fields.hasErrors('publicationYear')}" th:errors="*{publicationYear}"></div>
        <br>
        <label for="minPlayers" class="form-label">Pelaajien miniminäärä</label>
        <input type="text" id="minPlayers" th:field="*{minPlayers}" />
        <div class="text-danger" th:if="${#fields.hasErrors('minPlayers')}" th:errors="*{minPlayers}"></div>
        <br>
        <label for="maxPlayers" class="form-label">Pelaajien maksimimäärä</label>
        <input type="text" id="maxPlayers" th:field="*{maxPlayers}" />
        <div class="text-danger" th:if="${#fields.hasErrors('maxPlayers')}" th:errors="*{maxPlayers}"></div>
        <br>
        <label for="genrelist" class="form-label">Genre</label>
        <select id="genrelist" th:field="*{genre}" class="form-control">
            <option th:each="genre: ${genres}" th:value="${genre.id}" th:text="${genre.name}"></option>
        </select>
        <br>
        <input type="submit" value="Tallenna" class="btn btn-primary"></input>
        <!-- <a th:href="@{/boardgamelist}" value="Takaisin" class="btn btn-secondary">Takaisin</a> -->
    </form>
    </div>
    </div>

</body>

</html>